body {
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5rem;
}

h1 {
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", "cursive";
  font-weight: 700;
}

.container {
  max-width: 90%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}
.card {
  padding: 2em;
}

.card-1 {
  background: hsl(31, 77%, 52%);
}

.card-2 {
  background: hsl(184, 100%, 22%);
}

.card-3 {
  background: hsl(179, 100%, 13%);
}
.card-body {
  max-width: 70%;
}

button {
  max-width: 50%;
  border-radius: 15px;
  border: none;
  padding: 1rem;
  text-align: center;
  margin-top: 2em;
}

.orange-btn {
  color: hsl(31, 77%, 52%);
}
.cyan-btn {
  color: hsl(184, 100%, 22%);
}
.dark-btn {
  color: hsl(179, 100%, 13%);
}

@media (min-width: 890px) {
  .container {
    display: flex;
    margin: 8em auto;
    flex-direction: row;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
